{% block content %}
    <!-- OuiBounce Modal -->
    <div id="ouibounce-modal">
      <div class="underlay"></div>
      <div class="modal">
        <div class="modal-title">
          <h3>Постой!</h3>
        </div>

        <div class="modal-body">
          <p>А как же похудеть?</p>
          <p>Мы тебя подробно расскажем, как сбросить каллории <br> Вникай внимательно!<br> Ты сможешь! Мы верим в тебя! </p>
            <p></p>

          <form>
            <input type="text" placeholder="your-email@email.com">
            <input type="submit" value="learn more &raquo;">
            <p class="form-notice">*fake form</p>
          </form>
        </div>

        <div class="modal-footer">
          <p>Нет, спасибо</p>
        </div>
      </div>
    </div>

    <!-- Example page JS        -->
    <!-- Used to fire the modal -->

  <script src="/static/js/dontclose.js"></script>
{% endblock %}