<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, shrink-to-fit=no"/>
    <title>Video</title>
    <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=cyrillic" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/quiz/fonts.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/quiz/style.css") }}"/>

</head>
<body>

<div class="page">
    <h1 class="page__title">Выберите видео</h1>
    <form action="video/1" method="post">
        <button>1 Видео</button>
    </form>
    <br>
    <form action="video/2" method="post">
        <button>2 Видео</button>
    </form>
       <br>
    <form action="video/3" method="post">
        <button>3 Видео</button>
    </form>
    <br>
    <form action="video/4" method="post">
        <button>4 Видео</button>
    </form>
</div>
<script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?159",t.onload=function(){VK.Retargeting.Init("VK-RTRG-288483-6HcHL"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-288483-6HcHL" style="position:fixed; left:-999px;" alt=""/></noscript>
<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>