.bb {
    margin: 20px auto;
    width: 1100px;
}
.bb-screen{
      background-color: #ffffff;

    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    padding: 10px;

    border-radius: 16px
}
div.blueTable {
  font-family: "Arial Black", Gadget, sans-serif;
  background-color: #ffffff;
  width: 1000px;
  height: 500px;
  text-align: center;
  border-collapse: collapse;


    margin: 20px auto;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
  border: 0px solid #AAAAAA;
  padding: 3px 2px;
}
.divTable.blueTable .divTableBody .divTableCell {
  font-size: 24px;
  color: #1f1f1f;
}
.divTable.blueTable .divTableHeading {
  }
.divTable.blueTable .divTableHeading .divTableHead {
  font-size: 26px;
  font-weight: bold;
  color: #1f1f1f;
  text-align: center;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

.title {
     text-shadow: 1px 1px 1px #585858, 0 0 1em rgba(255, 206, 15, 0.6); /* Параметры тени */
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 25px;
    color: #FCD10A;
}

.button-eat {
    background: #FCD10A;

    padding: 16px 64px;

margin: 0 350px auto;

    border: none;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;



    font-family: Play;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 25px;

    -webkit-box-shadow: 0px 0px 19px 0px rgba(164,163,0,0.8);
box-shadow: 0px 0px 19px 0px rgba(164,163,0,0.8);


}