<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, shrink-to-fit=no" />	
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=cyrillic" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/quiz/fonts.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/quiz/style.css") }}"/>

</head>
<body>
	<div class="page">
		<h1 class="page__title">Сколько вам лет?</h1>
		<div class="progress">
			<div class="progress__text">Готово: <span class="progress__value">23%</span></div>
			<div class="progress__bar">
				<div class="progress__bar-inner" style="width:23%"></div>
			</div>
		</div>
		<form method="post" action="experience" class="review-form">
			<input type="text" class="review-form__input" placeholder="Введите возраст" required />
			<div class="review-form__footer">
				<button class="review-form__btn">Далее</button>
			</div>
		</form>
	</div>
<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>