<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, shrink-to-fit=no" />	
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=cyrillic" rel="stylesheet" />	
	 <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/quiz/fonts.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/quiz/style.css") }}"/>
</head>
<body class="final">
	<div class="final__inner">
		<h1 class="final__title">Остался всего один шаг!</h1>
		<p>Зайдите на указанную вами почту и подтвердите что это были вы</p>
		<div class="mail-list">
			<a href="//mail.ru" class="mail-list__item"><img src="/static/img/quiz/mailru.png" alt=""></a>
			<a href="//yandex.ru" class="mail-list__item"><img src="/static/img/quiz/yandex.png" alt=""></a>
			<a href="//gmail.com" class="mail-list__item"><img src="/static/img/quiz/gmail.png" alt=""></a>
		</div>
	</div>
<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>