<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, shrink-to-fit=no" />	
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=cyrillic" rel="stylesheet" />	
 <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/quiz/fonts.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/quiz/style.css") }}"/>
</head>
<body>
	<div class="index-block">
		<h1 class="index-block__title">Хотите похудеть?</h1>
		<div class="index-block__text">Пройдите бесплатный тест и узнайте, как нужно действовать именно вам</div>
		<div class="index-block__footer">
			<a href="sex" class="btn btn_big index-block__btn">Начать тест</a>
			<div>Уже прошли 35767 человек</div>
		</div>
	</div>
<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>