
  #centered {
      margin: 30px auto 0 auto;
      width: 500px;
  }
.btn_start {
    background: #FCD10A;

    padding: 16px 64px;



    border: none;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;



    font-family: Play;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;

    -webkit-box-shadow: 0px 0px 19px 0px rgba(164,163,0,0.8);
box-shadow: 0px 0px 19px 0px rgba(164,163,0,0.8);

}

.btn_start:hover {
    opacity: 0.8;
}


.letter{
     font-family: Play;
    color: #f9ca0d;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;



}
.nav-btn{
    background: #29292c;

    border: none;
    text-align: center;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;


}

.nav-btn:hover {
    background: #ffffff;
    opacity: 1
}
