table.yellowTable {
  font-family: Play;
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.yellowTable td, table.yellowTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.yellowTable tbody td {
  font-size: 20px;
}
table.yellowTable td:nth-child(even) {
  background: #EBEBEB;
}
table.yellowTable thead {
  background: #FCD10A;
  border-bottom: 2px solid #333333;
}
table.yellowTable thead th {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 1px solid #333333;
}
table.yellowTable thead th:first-child {
  border-left: none;
}

table.yellowTable tfoot td {
  font-size: 14px;
}