div.Table {
  text-align: center;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 25px;
    color: #000000;

}
.divTable.Table .divTableCell, .divTable.Table .divTableHead {
  padding: 0 100px;
}
.divTable.Table .divTableBody .divTableCell {

}
.Table .tableFootStyle {

}
.Table .tableFootStyle .links {
	 text-align: right;
}
.Table .tableFootStyle .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.Table.outerTableFooter {
  border-top: none;
}
.Table.outerTableFooter .tableFootStyle {
  padding: 3px 5px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}