{% extends 'forms/blackbox.html' %}
{% block title %}{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/blackbox.css") }}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play"/>

    <div class="bb">
        <div class="bb-screen">
            <div class="title">
                <p>Ваш рост</p>
            </div>
            <div class="bb-form">
                <form action="/heightinfo" method="POST">
                    <div class="control-group">

                        <p><input type="text" name="height" maxlength="3" min="100" max="250" required autocomplete="off"> см.</p>
                    </div>
                    <input type="submit" class="btn" name="button_next" value="Далее">
                </form>
            </div>
        </div>
    </div>

{% endblock %}