{% extends 'forms/menu.html' %}
{% block title %}{% endblock %}
{% block content %}
     <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/btn_style.css") }}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play"/>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/column_style.css") }}"/> -->
    {% if not session['logged_in'] %}
        <p><a href="http://127.0.0.1:5000/logout">Log in</a></p>
    {% else %}
        <div class="main_space">
            <div class="dimension">
                <div class="block_1">Отлично! Вы стали ещё на шаг ближе к достижению вашей цели.
                    Дочитайте эту инструкцию до конца, чтобы узнать о том, как всё будет происходить дальше.
                </div>
                <div class="block_2">На основании заполненной вами анкеты мы рассчитали подходящее для вас питание.
                </div>
                <div class="block_3">На протяжении первой недели вам нужно есть <i>XX</i> калорий.
                    Белков: <i>XX</i>
                    Жиров: <i>XX</i>
                    Углеводов: <i>XX</i>

                    И выпивать: минимум х литров воды в день

                    Также регулярно раз в неделю вам нужно будет повторно заполнять анкету для того, чтобы у нас была
                    возможность помогать вам следить за прогрессом и адаптивно изменять программу
                </div>
                <div class="block_4">Теперь давайте я расскажу вам о том, как у нас здесь всё устроено.</div>
                <div class="block_5">Сейчас вы находитесь в личном кабинете и у внутри нашей платформы у вас есть 4
                    вкладки.
                </div>
            </div>
                <form action="/home" method="POST">
                    <div id="centered">
            <button class="btn_start"  name="button_start" type="submit" value="gender" method="POST">Начать
                пользоваться!
            </button>
                    </div>
            </form>
        </div>

    {% endif %}

{% endblock %}