{% extends 'forms/menu.html' %}
{% block title %}{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/eat_style.css") }}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play"/>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/column_style.css") }}"/> -->
    {% if not session['logged_in'] %}
        <p><a href="/logout">Log in</a></p>
    {% else %}

        <div class="bb">
        <div class="bb-screen">
            <div class="title">
                <p>Питание</p>
            </div>
            <div calss="bb-form">
                <div class="divTable blueTable">
                    <div class="divTableHeading">
                        <div class="divTableRow">
                            <div class="divTableHead"></div>
                            <div class="divTableHead">Калории:</div>
                            <div class="divTableHead">Белки:</div>
                            <div class="divTableHead">Жиры:</div>
                            <div class="divTableHead">Углеводы:</div>
                        </div>
                    </div>
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell">Дневная норма:</div>
                            <div class="divTableCell">{{ kkal_norma }}</div>
                            <div class="divTableCell">{{ belki }}</div>
                            <div class="divTableCell">{{ giry }}</div>
                            <div class="divTableCell">{{ ugl }}</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">Съедено:</div>
                            <div class="divTableCell">{{ kkalor }}</div>
                            <div class="divTableCell">{{ belok }}</div>
                            <div class="divTableCell">{{ jiry }}</div>
                            <div class="divTableCell">{{ ugli }}</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">Осталось:</div>
                            <div class="divTableCell">{{ kkalor_ost }}</div>
                            <div class="divTableCell">{{ belok_ost }}</div>
                            <div class="divTableCell">{{ jiry_ost }}</div>
                            <div class="divTableCell">{{ ugli_ost }}</div>
                        </div>
                         </div>
                     </div>
                </div>
              <form action="/eatadd" method="POST">
                        <input type="submit" class="button-eat" name="button_next" value="Добавить прием">
                    </form>
            </div>
        </div>


    {% endif %}
{% endblock %}