{% extends 'forms/menu.html' %}
{% block title %}{% endblock %}
{% block content %}

     <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/eat_add_style.css") }}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play"/>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/column_style.css") }}"/> -->
    {% if not session['logged_in'] %}
        <p><a href="/logout">Log in</a></p>
    {% else %}

    <div class="bb">
        <div class="bb-screen">
            <div class="title">
                <p>Б.Ж.У.</p>
            </div>
            <div class="bb-form">
                <form action="/eatrender" method="POST">
                    <div class="control-group">

                        <p>Белков:	&nbsp;	&nbsp;<input type="text" name="belki" maxlength="4"></p>
                        <p>Жиров:	&nbsp;	&nbsp;	&nbsp;<input type="text" name="giry" maxlength="4"></p>
                        <p>Углеводов:<input type="text" name="uglevody" maxlength="4"></p>
                    </div>
                    <input type="submit" class="btn" name="button_next" value="Добавить">
                </form>
            </div>
        </div>
    </div>

    {% endif %}

{% endblock %}