<p>Молодые самки японских макак удовлетворяют свои сексуальные потребности, забираясь на оленей. Впервые об этом стало известно в начале 2017 года, теперь же ученые выяснили, что макаки получают таким способом сексуальную разрядку так же часто, как и в гомосексуальных контактах с другими самками. Подробности исследователи изложили в статье в журнале Archives of Sexual Behavior.


Первые свидетельства о половых отношениях между японскими макаками и оленями появились в январе 2017 года, исследователи описали случай в журнале Primates. Необычное поведение наблюдалось у животных на острове Якусима. Также с 2014 года жители города Миноо в центральной части Японии несколько раз сообщали о том, что видели, как макаки трутся гениталиями о спины оленей.

Исследователи из Университета Летбриджа в Канаде решили выявить, насколько распространено это явление. По словам исследователей, это первая работа, в которой подсчитывается частота случаев попыток совокупления между приматами и другими отрядами млекопитающих.

«Полученные нами результаты подтверждают теорию о том, что взаимодействие обезьян с оленями — это сексуальная практика, во время которой молодые самки, очевидно, получают сексуальное удовлетворение»,

— отмечает Ноэль Ганст, соавтор исследования.

О том, что дикие японские макаки способны забираться на оленей и ездить на них, было известно уже давно. Макаки даже ухаживают за оленями, перебирая их шерсть, а олени подбирают фрукты, которые макаки сбрасывают с деревьев, и иногда поедают их фекалии. Однако сексуальных контактов между ними до недавнего времени не наблюдалось.

Исследователи изучили 258 случаев попавших на видео «поездок» самок макак на оленях в окрестностях города Миноо в Осаке. Исходя из движений, которые совершали макаки, и звуков, которые они издавали, ученые насчитали минимум 14 эпизодов, когда взаимодействие между животными носило сексуальный характер. В некоторых случаях макаки кусали оленей или тянули их за рога. В качестве партнеров самки выбирали в основном зрелых самцов оленей.

В пяти случаях самки забирались на одного и того же оленя три и более раз за 10 минут, при этом издавая звуки, характерные для спаривания. Также самки часто стремились прервать совокупление между другой обезьяной и оленем. Сам же акт, по словам Ганста, мог длиться от пары минут до нескольких часов.</p>